# Generated manually; synced with current @export tags
export(.onLoad)
export(addSingleCells)
export(build_scope_from_cosmx)
export(build_scope_from_visium)
export(build_scope_from_xenium)
export(clusterGenes)
export(computeCorrelation)
export(computeDensity)
export(computeIDelta)
export(computeL)
export(computeL_visium)
export(computeLvsRCurve)
export(computeMH)
export(computeWeights)
export(configureThreadsFor)
export(consensus_coo)
export(consensus_sparse)
export(createSCOPE)
export(createSCOPE_cosmx)
export(createSCOPE_visium)
export(createSCOPE_xenium)
export(detectOS)
export(fixRNG)
export(fuzzy_queen_diffuse_mat)
export(fuzzy_queen_jaccard)
export(getDendroWalkPaths)
export(getOptimalThreadConfig)
export(getSafeThreadCount)
export(getTopLvsR)
export(grid_nb)
export(grid_nb_omp)
export(idelta)
export(lee_L)
export(lee_L_cache)
export(lee_L_cols)
export(lee_perm)
export(lee_perm_block)
export(loess_residual_bootstrap)
export(loess_residual_bootstrap_compat)
export(nb2mat)
export(normalizeMoleculesInGrid)
export(normalizeSingleCells)
export(pearson_cor)
export(plotClusterComparison)
export(plotDendro)
export(plotDendroNetwork)
export(plotDendroNetworkWithBranches)
export(plotDensity)
export(plotDensityCentroids)
export(plotDensityMirror)
export(plotGridBoundary)
export(plotIDelta)
export(plotLDistribution)
export(plotLScatter)
export(plotLvsR)
export(plotNetwork)
export(test_64bit_support)
export(withThreadConfig)
useDynLib(geneSCOPE, .registration = TRUE)
